/* reset */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body{
    background-color: #F1EEE9;
}
/* Estilos del Header */

.header{
    background-color: #15133C;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .opciones{
    list-style: none;
}

.header .opciones li{
    display: inline-block;
    padding: 0 20px;
}

.header .opciones li:hover{
    transform: scale(1.1);
}

.header .opciones a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .opciones li a:hover{
    color: #EC994B;
}

.header .boton button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}

.header .boton button:hover{
    background-color: #e2f1f8;
    color: #EC994B;
    transform: scale(1.1);
}
/* Estilo del Main */

/*carousel*/

.carousel{
    padding: 20px;
}
.carousel-item.active > img{
    animation: carousel-zoom 20000ms infinite;
}

@keyframes carousel-zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
/*fin carousel*/

h1{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;

}

#productos{
    display: grid;
    grid-template-areas:"buscador buscador"
                        "cr7 pelota"
                        "nemezis messi"
                        "tiempo boca";
}  

.buscador{
    grid-area: buscador;
    text-align: center;
}

h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #15133C;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#productos{
    grid-area: cr7;
}

#productos{
    grid-area: pelota;
}

#productos{
    grid-area: nemezis;
}

#productos{
    grid-area: messi;
}

#productos{
    grid-area: tiempo;
}

#productos{
    grid-area: boca;
}

.img-section{
    height: 50vh;
    border: groove #15133C;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.img-section:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

#productos{
    padding: 30px;
}

#productos > p{
    text-decoration: none;
    color: black;
    text-align: left;
    
}

.productos-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productos-item > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    align-self: flex-start; 
    text-decoration: none;
    color: black;
    text-align: left;  
}


.btn-item{
    margin-left: 20px;
    font-weight: 700;
    color: #e2f1f8;
    padding: 9px 25px;
    background: #15133C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}

.btn-item:hover{
    background-color: #15133C;
    color: #EC994B;
    transform: scale(1.1);
}

.btn-comprar{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.btn-comprar:hover{
    color: #EC994B;
    transform: scale(1.1);
}

/* Estilos del footer */

.img-footer{
    height: 5vh;
    margin-top: 30px;
}

footer{
    background-color: #15133C;
    padding: 50px;
    font-size: 10px;
}

.pie{
    color: #F1EEE9;
    text-align: center;
    
}